.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardCreateCategory {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}

.h2 {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0px 0px 5px 5px;
}

.asterisk {
  color: #ff0000;
}

.field {
  margin: 0px 0px 10px 0px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  transition: border-color 0.3s;
}

.field:focus {
  border-color: #007bff;
  outline: none;
}

.invalidField,
.invalidField:focus {
  border-color: #ff0000;
}

.warningField,
.warningField:focus {
  border-color: #ffd000;
}

.actions {
  margin: "10px 0px 0px 0px";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.containerResetAndCancel {
  display: flex;
  gap: 5px;
}

.button {
  margin: 10px 0px 0px 0px;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.submitButton {
  width: 130px;
  background-color: #007bff;
}

.submitButton:hover {
  background-color: #0068d6;
}

.submitButton:disabled {
  background-color: #003063;
  cursor: not-allowed;
}

.cancelButton,
.resetButton {
  background-color: #8a8a8a;
}

.cancelButton:hover,
.resetButton:hover {
  background-color: #636363;
}

.cancelButton:disabled,
.resetButton:disabled {
  background-color: #3c3c3c;
  cursor: not-allowed;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  right: 0px;
}

.spinnerLoadingScreen {
  position: unset;
  right: unset;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
