.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardTasks {
  width: 1000px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}

.h2 {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.containerSearchAndCreate {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  padding: 10px;
  border-radius: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0068d6;
}
