.cardNavegation {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0px 0px 20px 0px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-white-1);
  border: 2px solid var(--color-white-1);
}
