.containerTable {
  display: flex;
  flex-direction: column;
}

.table {
  border-spacing: 0px;
  border-radius: 8px;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.table th,
.table td {
  border: 1px solid var(--color-white-3);
  padding: 8px;
  text-align: left;
}

.pending {
  color: var(--color-yellow-2);
}

.completed {
  color: var(--color-green-2);
  cursor: pointer;
}

.overdue {
  color: var(--color-red-2);
}

.table th {
  background-color: var(--color-white-2);
}

.contentTdActions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tdEmptyData {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 10px;
}

.pagination a {
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  background-color: var(--color-blue-1);
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: var(--color-blue-3);
}

.pagination a:hover {
  background-color: var(--color-blue-3);
}

.hideAt900px {
  display: table-cell;
}

@media (max-width: 900px) {
  .hideAt900px {
    display: none;
  }
}

.hideAt800px {
  display: table-cell;
}

@media (max-width: 800px) {
  .hideAt800px {
    display: none;
  }
}

.hideAt700px {
  display: table-cell;
}

@media (max-width: 700px) {
  .hideAt700px {
    display: none;
  }
}
