.containerTable {
  display: flex;
  flex-direction: column;
}

.table {
  border-spacing: 0px;
  border-radius: 8px;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.pending {
  color: #ffae45;
}

.completed {
  color: #149113;
  cursor: pointer;
}

.overdue {
  color: #ff3f5b;
}

.table th {
  background-color: #f2f2f2;
}

.contentTdActions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tdEmptyData {
  text-align: center;
}

.actionItem {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 10px;
}

.pagination a {
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #0056b3;
}

.pagination a:hover {
  background-color: #0056b3;
}

.hideAt900px {
  display: table-cell;
}

@media (max-width: 900px) {
  .hideAt900px {
    display: none;
  }
}

.hideAt800px {
  display: table-cell;
}

@media (max-width: 800px) {
  .hideAt800px {
    display: none;
  }
}

.hideAt700px {
  display: table-cell;
}

@media (max-width: 700px) {
  .hideAt700px {
    display: none;
  }
}
