.container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  color: var(--color-white-1);
}

.success {
  background-color: var(--color-green-2);
}

.error {
  background-color: var(--color-red-2);
}

.info {
  background-color: var(--color-blue-2);
}

.warning {
  background-color: var(--color-yellow-2);
}

.default {
  background-color: var(--color-gray-2);
}
